<div class="container my-4">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card bg-light">
        <div class="card-body " style="">
          <h4 class="card-title mt-3 text-center">Créer un compte</h4>
          <p class="text-center">Get started with your free account</p>
          <form>
            <div class="form-group input-group">
              <input name="" class="form-control" placeholder="Nom et prénom" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
              <input name="" class="form-control" placeholder="Email" type="email">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
              <select class="custom-select" style="max-width: 120px;">
                <option selected="">+261</option>
              </select>
              <input name="" class="form-control" placeholder="Phone number" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
              <select class="form-control">
                <option value="1">Client</option>
                <option value="2">Restaurant</option>
                <option value="3">Livreur</option>
              </select>
            </div> <!-- form-group end.// -->
            <div class="form-group input-group">
              <input class="form-control" placeholder="Votre mot de passe" type="password">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
              <input class="form-control" placeholder="Retaper le mot de passe" type="password">
            </div> <!-- form-group// -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Créer un compte  </button>
            </div> <!-- form-group// -->
            <p class="text-center">Vous avez un compte ? <a routerLink="/login">Connectez-vous</a> </p>
          </form>
        </div>
      </div> <!-- card.// -->
    </div>
    <div class="col-2"></div>
  </div>
</div>


