<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Plat</th>
            <th scope="col">Restaurant</th>
            <th scope="col">Quantite</th>
            <th scope="col">Net à payer</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="panierListe">
          <tr   *ngFor="let e of panierListe;" >
            <th scope="row">{{e.plat.nom}}</th>
            <td>{{e.restaurant.nom}}</td>
            <td class="text-center"><input type="text" class="form-control form quantite" value="{{e.quantite}}"> </td>
            <td>{{e.netPayer}}</td>
            <td><button class="btn btn-danger"><i class="bi bi-trash3"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
