<div class="container">
  <div id="logreg-forms" >
    <form class="form-signin">
      <h1 class="h3 mb-5 font-weight-normal" style="text-align: center"> Connectez - vous</h1>

      <input type="email" id="inputEmail" class="form-control mb-4" placeholder="Email address" required="" autofocus="">
      <input type="password" id="inputPassword" class="form-control mb-4" placeholder="Password" required="">

      <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Connectez - vous</button>
      <div class="text-center mt-4">
        <a href="#" id="forgot_pswd">Mot de passe oublié ?</a>
      </div>
      <hr>
      <!-- <p>Don't have an account!</p>  -->
      <a class="btn btn-primary btn-block text-white"routerLink="/inscription" id="btn-signup"><i class="fas fa-user-plus"></i> Créer un compte</a>
    </form>

    <form action="/reset/password/" class="form-reset">
      <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
      <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
    </form>
  </div>
</div>
