<div class="container my-5">
  <div class="row">
    <div class="col-12 mb-3">
      <a routerLink="/index"> <i class="bi bi-arrow-left"></i> Retour </a>
    </div>
    <div class="col-12 mb-3">
      <h4>Menu chez:   {{restaurant.nom}}</h4>
    </div>
  </div>
  <div class="row" *ngIf="taille > 0">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12"   *ngFor="let e of platL;"  >
      <div class="card my-4" style="">
        <img class="card-img-top"  src="https://via.placeholder.com/150" alt="Card image cap">
        <!--<img class="card-img-top" *ngElse src="{{e.url_image}}" alt="Card image cap">-->
        <div class="card-body">
          <h5 class="card-title">{{ e.nom }}</h5>
          <p class="card-text">{{e.description}}</p>
          <p>{{e.prix}} ar</p>
          <a (click) = "ajouterPanier(restaurant,e)" class="btn btn-primary">Ajouter au panier</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center" *ngIf="taille === 0">
      <div class="alert alert-danger">
        Aucun plat disponible
      </div>
    </div>
  </div>
</div>

